
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/User/Index" style="color:#c58515; font-weight:bold">Vehicle Care</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/User/Index" style="font-weight:bold">Ana Sayfa  |<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/User/EditUser" style="font-weight:bold">Profil  |</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Vehicle/Index" style="font-weight:bold">Araçlarım  |</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/CareRequest/AddRequest" style="font-weight:bold">Talep Oluştur  |</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/CareRequest/Index" style="font-weight:bold">Onay Bekleyen Taleplerim  |</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/CareRequest/ConfirmedRequests" style="font-weight:bold">Onaylanmış Taleplerim  |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Security/Logout" style="font-weight:bold;color:red">Çıkış</a>
                </li>
            </ul>
        </div>
    </nav>

